body{
    text-align: center;
}

#modal {
    background-color: rgb(244, 247, 56);
    position: absolute;
    display: block;
    top: 180px;
    left: 15%;
    height: 500px;
    width: 700px;
    z-index: 1;
    overflow: auto;
    padding: 10px 30px 0px 30px;
}
 
button{
    margin: 0px 2px;
    position: fixed;
    top: 50px;
    left: 10px;
    }
    .guessingWord {
        height: 20px;
    }
    section {
        height: 50px;
        background-color: green;
    }

.underscore {
    font-size: 50px;
    text-align: center;
    /* margin-top: 400px; */
    margin: 400px auto 40px auto;
    height: 150px;
    width: 280px;
    border: 2px black solid;
    display: block;
}

.wrongguess {
    height: 100px;
    display:inline-block;
    width: 40%;
    border: 2px black solid;
    margin: 50px auto;
    text-align: center;
    font-size: 25px;
}
.rightguess {
    display: inline-block;
    height: 150px;
    width: 40%;
    border: 2px black solid;
    margin: 50px auto;
    text-align: center;
    font-size: 25px;
}
h4{
    display: inline-block;
    position: sticky;
    top: 100px;
    right: 100px;
}
img{
    width: 640px;
    height: 480px;
    position: absolute;
    top: 120px;
    left: 460px;
    z-index: -1;
}

img#gallow1 {
    display: none;
}
img#gallow2{
    display: none;
}
img#gallow3{
    display: none;
}
img#gallow4{
    display: none;
}
img#gallow5{
    display: none;
}
img#gallow6{
    display: none;
}

span {
    position: absolute;
    display: inline-block;
    top: 100px;
    right: 200px;
    height: 200px;
}