body{
    text-align: center;
}

#modal {
    background-color: rgb(244, 247, 56);
    position: absolute;
    display: flexbox;
    top: 250px;
    left: 30%;
    height: 300px;
    width: 600px;
    z-index: 1;
    overflow: auto;
    padding: 10px 30px 0px 30px;
}
 /* .keyboard {
     color: green;
     position: fixed;
     left: 550px;
     top: 650px;
     font-size: 15px;
     height: 150px;
     max-width: 250px;
     line-height: 20px;
    }
    
.keyboards {
    margin-left: 3px;
    height: 10px;
    width: 13px;
    align-items: center;


    } */
button{
    margin: 0px 2px;
    }
    .guessingWord {
        height: 20px;
    }
    section {
        height: 50px;
        background-color: green;
    }

.underscore {
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 280px;
    border: 2px black solid;
    display: block;
}

.wrongguess {
    height: 100px;
    width: 40%;
    border: 2px black solid;
    margin: 50px auto;
    text-align: center;
    font-size: 25px;
}
.rightguess {
    height: 150px;
    width: 40%;
    border: 2px black solid;
    margin: 50px auto;
    text-align: center;
    font-size: 25px;
}
h4{
    display: inline-block;
    position: sticky;
    top: 100px;
    right: 100px;
}